.themeEightDrop {
    display: flex;
    align-items: center;
}

.themeEightDrop::after {
    content: "⮟";
    margin-left: 5px;
    font-weight: 400;
    color: black;
}

.cartCanvas {
    display: none;
    overflow-y: scroll;
    height: 95vh;
}

.showCanvas {
    display: flex;
}

.showDrop {
    display: block !important;
}

.showSearch {
    display: flex !important;
}