@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     --foreground-rgb: 0, 0, 0;
     --background-start-rgb: 214, 219, 220;
     --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
          --foreground-rgb: 255, 255, 255;
          --background-start-rgb: 0, 0, 0;
          --background-end-rgb: 0, 0, 0;
     }
}



html {
     line-height: 1.5;
     -webkit-text-size-adjust: 100%;
     tab-size: 4;
     font-family:
          Inter var,
          ui-sans-serif,
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Roboto,
          Helvetica Neue,
          Arial,
          Noto Sans,
          sans-serif,
          Apple Color Emoji,
          Segoe UI Emoji,
          Segoe UI Symbol,
          Noto Color Emoji;
     font-feature-settings: normal;
     font-variation-settings: normal;
     height: 100%;
     font-feature-settings: "cv02", "cv03", "cv04", "cv11";
     font-size: 14px !important;
}

body {
     font-size: 0.8rem;
}
.cart_drawer {
     display: block;
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: auto;
     width: 300px;
     margin: 0;
     transform: translate(340px);
     transition: transform 0.2s ease-in-out 0s;
     background-color: #fff;
     z-index: 1050;
     border: none;
     border-radius: 0;
     box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}
.float-label-input {
     margin: 32px 0;     
  }
 
 .float-label-input:focus-within label,
   .float-label-input input:not(:placeholder-shown) + label {
     transform: translateY(-1.5rem) scale(0.75);
     background-color: white;
 }
 