/* ComplexPlaceholderLayout.css */
.complex-placeholder-layout {
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     font-family: Arial, sans-serif;
}

.header {
     background-color: #ebebeb;
     color: #ffffff;
     padding: 50px;
     text-align: center;
}

.main {
     flex: 1;
     display: flex;
     padding: 20px;
}

.content {
     flex: 2;
     margin-right: 20px;
}

.sidebar {
     flex: 1;
     background-color: #ebebeb;
     padding: 10px;
     border-radius: 4px;
}

.footer {
     background-color: #ebebeb;
     color: #555;
     padding: 10px;
     text-align: center;
}
